bokeh==3.8.2
cachetools==6.2.6
certifi==2026.1.4
influxdb-client==1.50.0
Jinja2==3.1.6
numpy==2.4.2
pandas==2.3.3
pillow==12.1.1
polars==1.38.1
pyarrow==23.0.0
python-dotenv==1.2.1
requests==2.32.5
scipy==1.17.0
statsmodels==0.14.6
streamlit==1.54.0
streamlit-bokeh==3.8.3
utm==0.8.1
xyzservices==2025.11.0
arrow==1.4.0
gspread==6.1.4
google-auth==2.38.0
